$thumb-color: #ff6f00;
$track-color: #eeeeee;

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat';
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-family: 'Montserrat';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url('/fonts/Montserrat-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('/fonts/Montserrat-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('/fonts/Montserrat-Bold.ttf');
  font-display: swap;
}

// @font-face {
//   font-family: 'Montserrat';
//   font-weight: lighter;
//   src: url('/fonts/Montserrat-Light.ttf');
//   font-display: swap;
// }

@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/Montserrat-Italic.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: italic;
  src: url('/fonts/Montserrat-BoldItalic.ttf');
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $track-color;
  // border: 2px solid $track-color;
  // border-radius: 100px;
}

::-webkit-scrollbar-track {
  background: $track-color;
}

.MuiDrawer-paper {
  background: transparent;
  background-image: none;
  overflow: visible;
}

.language .MuiSelect-select{
  border-radius: 8px;
  border: 1px solid #84f827
}

.MuiPaper-root{
  background-color: transparent !important;
  background-image: none !important;
  background: none;
}

.MuiPaper-root ul {
  padding:0
}

.MuiMenuItem-root:hover {
    background-color: #434540;
  
}